# Node modules
backend/node_modules/
frontend/node_modules/

# React build output
frontend/build/
frontend/dist/

# Logs
*.log

# Environment variables
*.env
.env.local

# OS files
.DS_Store
Thumbs.db
